.search-bar-container {
  margin: 0 auto;
  justify-content: center;
  width: 50%;
}

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: var(--secondary);
}

.icon-cart:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

#allSales-btn {
  margin-right: 70px;
  margin-top: 2px;
}

.original-price {
  margin: 0;
  font-size: 16px;
  text-decoration: line-through;
  color: var(--secondary);
}

.discount {
  font-size: 16px;
  color: var(--secondary);
  margin-left: 10px;
}

.discount-label{
  padding-bottom: 2px;
}

.delivery-button {
  width: 150px;
  background-color: #1dd2143e;
  color: var(--secondary);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
}

.delivery-button:hover {
  background-color: var(--primary);
}




